.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(15, 23, 42), rgb(88, 28, 135), rgb(15, 23, 42))   
}

.container > h1 {
    color: white;
}

.button {
    color: #726DFF;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight: 500;
}